html,body {
    margin: 0;
    padding: 0;
  }

  button{
    font-family: 'Press Start 2P', monospace;
    background-image: url(https://s3.amazonaws.com/kzs3files/kidzsearchgl-happy-snakes-ks120414-158859-img.png);
    background-size: cover;
    color:greenyellow;
    text-align: center;
    cursor:pointer;
    position:absolute;
    width:300px;
    height:100px;
    bottom:30px;
    right:25%;
    left:50%;
    margin-left:-150px;

  }
  button1{
    font-family: 'Press Start 2P', monospace;
    background-image: url(https://s3.amazonaws.com/kzs3files/kidzsearchgl-happy-snakes-ks120414-158859-img.png);
    background-size: cover;
    color:greenyellow;
    text-align: center;
    cursor:pointer;
    position:absolute;
    width:200px;
    height:100px;
    bottom:50%;
    right:25%;
    left:50%;
    margin-left:-150px;

  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRVnuDS1MvtZCZp3BUreV0ePswTrrydyOj1-g&usqp=CAU);
    
    background-size: cover;
    background-repeat: space;
  }
  
  h1, h2 {
    font-family: 'Press Start 2P', monospace;
   
    color: greenyellow;
  }
  
  canvas {
  
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    width: 80%;
    height: 100;
  }
  
  #container {
  max-width: 50em;
  /* height: 70vh; */
  /*background-color:black; */
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-left top-right"
                        "game game game"
                        "btm-left btm-right btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
  }
  
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
    /* background-color: #222; */
    /* background-image: url('../img/funky-lines.png'); */
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    /* background-color: #222; */
  }
  
  #btm-right {
    grid-area: btm-right;
    /* background-color: #222; */
  } 