html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-image: url(https://s.yimg.com/lo/api/res/1.2/1DNoMyMSMCwqLIy9OqbcTQ--/YXBwaWQ9YXBlY21lZGlhO3NtPTE7dz04MDA-/https://media.zenfs.com/en/popular_mechanics_642/9801c0a49960ac6bc67bc792c7d2e421);
    
    background-size: cover;
    background-repeat: space;
  }
  
  h1, h2 {
    font-family: 'Press Start 2P', monospace;
   
    color: goldenrod;
  }
  
  canvas {
  
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    width: 80%;
    height: 100;
  }
  
  #container {
  max-width: 50em;
  /* height: 70vh; */
  /*background-color:black; */
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-left top-right"
                        "game game game"
                        "btm-left btm-right btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
  }
  
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
    /* background-color: #222; */
    /* background-image: url('../img/funky-lines.png'); */
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    /* background-color: #222; */
  }
  
  #btm-right {
    grid-area: btm-right;
    /* background-color: #222; */
  } 